:root { 
--black_900_7f:#0000007f; 
--red_600:#d75336; 
--amber_500_66:#ffc10766; 
--blue_A200:#4285f4; 
--black_900_3f:#0000003f; 
--black_900_01:#000000; 
--black_900_00:#00000000; 
--yellow_800:#e69e12; 
--white_A700_19:#ffffff19; 
--blue_gray_700:#4b5362; 
--blue_gray_900_01:#2f3644; 
--blue_gray_900:#2c374a; 
--gray_700_33:#5e5e5e33; 
--black_900_4c:#0000004c; 
--gray_600:#8d5b5b; 
--amber_500_19:#ffc10719; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--orange_A200:#f8a047; 
--white_A700_0c:#ffffff0c; 
--amber_500:#ffc107; 
--blue_gray_300:#a0abbe; 
--white_A700_0a:#ffffff0a; 
--gray_800:#3b3b3b; 
--black_900_0c:#0000000c; 
--amber_500_51:#ffc10751; 
--orange_200:#ffbf71; 
--blue_gray_800_16:#2f3a4c16; 
--green_A400_19:#15cd7219; 
--blue_300:#72adf1; 
--blue_gray_900_33:#2c374a33; 
--black_900_19:#00000019; 
--blue_gray_700_02:#505663; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4b5363; 
--blue_gray_700_04:#495568; 
--black_900_59:#00000059; 
--blue_gray_700_03:#4f5662; 
--blue_gray_50:#f1f1f1; 
--gray_900_33:#1e1e1e33; 
--amber_500_01:#fbbc05; 
--red_500:#ea4335; 
--blue_gray_900_4c:#2c374a4c; 
--green_600:#34a853; 
--green_A400:#15cd72; 
--blue_gray_800_02:#2d384a; 
--blue_gray_800_03:#2f3a4c; 
--black_900:#0a0c12; 
--gray_500_01:#a4a4a4; 
--blue_gray_800:#3d4351; 
--gray_900_02:#0f1217; 
--orange_A100:#ffd96a; 
--gray_900_03:#1f232c; 
--gray_700:#606060; 
--gray_900_04:#272727; 
--gray_500:#999999; 
--gray_900_05:#3f3209; 
--blue_gray_400:#7a8699; 
--blue_gray_600:#616875; 
--gray_900:#13161c; 
--gray_900_01:#191e26; 
--amber_500_33:#ffc10733; 
--blue_gray_600_01:#56647f; 
--blue_gray_600_02:#566480; 
--blue_gray_600_03:#4f5e77; 
--gray_900_06:#342807; 
--blue_gray_800_00:#2f3a4c00; 
--gray_800_33:#44444433; 
--blue_gray_800_01:#3d4452; 
--gray_100:#f6f6f6; 
--gray_800_30:#48484830; 
--black_900_33:#00000033; 
--gray_900_7f:#181d257f; 
--blue_A200_99:#3d82f099; 
}